body {
    padding: 0px
}
.column1 {
    background-color: #40362D;
}
.column2 {
    background-color: #A6907C;
}
.column-main {
    background-color: #F2E6D8;
}
.column3 {
    background-color: #BFAE99;
}
.column4 {
    background-color: #D9C7B8;
}
p{
    font-size:4rem;
}
p2{
    font-size:2rem;
}
.btn-custom {
    background-color: #40362D;
    color: white;
    border: none;
    padding: 20px 80px 20px 80px;
}

.btn-custom:hover {
    background-color: #2F271F ;
    color: white;
}
